.lang {
  display: none;
}

.wrapper {
  pointer-events: auto;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $color-black;
  height: 100%;
  width: 100%;
  z-index: 11;
}

.window {
  position: fixed;
  transform: translateY(-100%);
  visibility: hidden;
  background-color: transparent;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  transition: all 0.4s ease-out;
  pointer-events: none;
    &__inner {
      pointer-events: auto;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 60px 0 0 0;
      width: 100%;
      height: 100%;
        video {
          z-index: 99;
          max-width: 1280px;
          align-self: center;
        }
        &_slider {
          z-index: 12;
          position: relative;
          visibility: hidden;
          height: 100%;
            .slick-slide {
              float:left;
            }
            img {

            }
        }
    }
}

.vid_inner {
  justify-content: center;
}



.window_active {
  transform: translateY(0);
  visibility: visible;
    .window__inner {
      &_slider {
        visibility: visible;
      }
    }
}

.port_window {
  visibility: visible;
  display: none;
}

.window__inner_bottom {
  z-index: 12;
  padding: 60px;
  position: absolute;
  bottom: 0;
  width: 100%;
    p {
      opacity: 0.6;
    }
  .link {
    font-size: 12px;
    opacity: 0.6;
  }
}

.close {
  width: 100%;
  position: absolute;
  top: 40px;
  padding: 0 40px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  z-index: 99;
  img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all 0.3s;
      &:hover {
        opacity: 0.6;
      }
  }
}

.window__inner_header {
  margin-bottom: 90px;
  padding: 0 60px;
  z-index: 12;
  position: relative;
  p {
    opacity: 0.6;
  }
  .right {
    display: none;
  }
}

.owl-carousel .owl-item img {
  display: block;
  width: auto !important;
}

.owl-item {
  height: -webkit-fill-available;
  div {
    display: flex;
    align-items: center;
    height: -webkit-fill-available;
    justify-content: center;
  }
}

.bottom_slide {
  align-items: flex-end !important;
}

.owl-carousel {
  video {
    min-width: 1200px;
  }
}

.slick-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 640px;
    iframe {
      max-width: 1200px;
    }
}

.slick_nav {
  width: 100%;
  height: 20px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 40%;
  transform: translateY(-50%);
  left: 0;
  z-index: 99;
  padding: 0 90px;
  .s_prev {
    width: 15px;
    height: 15px;
    border-color: #fff;
    border-left: 1px solid;
    border-bottom: 1px solid;
    transform: rotate(45deg);
    cursor: pointer;
  }
  .s_next {
    cursor: pointer;
    width: 15px;
    height: 15px;
    border-color: #fff;
    border-left: 1px solid;
    border-bottom: 1px solid;
    transform: rotate(-135deg);
  }
}

.video__inner_port {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vid_inner {
  .window__inner_header {
    margin-bottom: 0;
  }
  iframe {
    width: 100%;
    max-width: 1200px;
    z-index: 99;
  }
}

.ports {
  display: none;
}