//some styles
.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell{
  height: auto !important;
}

.fp-responsive .fp-auto-height-responsive.fp-section,
.fp-responsive .fp-auto-height-responsive .fp-slide,
.fp-responsive .fp-auto-height-responsive .fp-tableCell {
  height: auto !important;
}

.fp-scrollable {
  overflow: hidden;
  position: relative;
}
.fp-scroller{
  overflow: hidden;
}
.iScrollIndicator{
  border: 0 !important;
}

.m_s {
  display:none;
}
.m_h {
  display: inline;
}

.preloader {
  position: fixed;
  background-color: $color-black;
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  z-index: 99;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
    .logo_box {
      .logo_s {
        height: 16px;
        image {
          width: 220px !important;
          height: 16px !important;
        }
      }
    }
}

.logo_s {
  height: 16px;
  image {
    width: 220px;
    height: 16px;
  }
}

.stopped {
  overflow: hidden;
}

.fade {
  height: 0;
  opacity: 0;
  transition: all 0.5s;
  visibility: hidden;
}